<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <div class="col-md-4">
            <form method="post">
                {% csrf_token %}

                <div class="mb-3">
                    <label for="id_username">Usuário:</label>
                    <input type="text" name="user-name">
                </div>
                
                <div class="mb-3">
                    <label for="id_password">Senha:</label>
                    <input type="password" name="pass-word">
                </div>

                <input type="submit" value="Entrar"></input>
            </form>
            
            <a href="{% url 'password_reset' %}">Esqueci minha senha</a>
        </div>
    </body>
</html>